@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background-image: linear-gradient(68.15deg, #252577 33.62%, #CA37CD 85.61% );
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.cabecalho-imagem {
    width: 50px;
    border-radius: 24px;
}
.cabecalho-menu {
    display: flex;
    gap: 32px;
}
.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #E7E7EE;
    font-weight: 400px;
    font-size: 18px;
}
.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #E7E7EE;

}
.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-escrito-titulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 61px;
    color: #FFF2E7;
}
.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #A4ADB6;
}
.conteudo-principal-escrito-botao {
    background-color: #A4ADB6 ;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.conteudo-principal-escrito-imagem {
    padding: 50px 50px;
    width: 650px;
    border-radius: 170px;
}
.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.conteudo-secundario-titulo {
    border-top: 0.4px solid #E7E7EE;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}
.conteudo-secundario-paragrafo{
    font-family: 'Righteous', cursive;
    font-weight: 260;
    font-size: 18px;
    color: #A4ADB6;
}
.rodape {
    border-top: 0.4px solid #E7E7EE;
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rodape-imagem{
    height: 48px;
    border-radius: 24px;
}
.rodape-contato {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    color: #A4ADB6;
}
.rodape-contato-comercial {
    margin: 0px 50px;
}
.rodape-contato-suporte {
    margin: 0px 50px;
}
.rodape-contato-whats {
    margin: 0px 50px;
}